.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  background-color: rgb(240, 238, 233);
}

.logoImage {
  width: 150px;
  height: 30px;
}

.navbar-logout-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;

  img {
    width: 30px;
    height: 30px;
  }

  button {
    height: 35px;
    width: 100px;
    background-color: brown;
    color: white;
    font-family: "Roboto";
    font-size: 15px;
    border: none;
  }
}
